<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ news[0] }}</title>
</head>
<body>
    <h1>{{ news[0] }}</h1>
    <p><strong>Published At:</strong> {{ news[1] }}</p>
    <p><strong>Source:</strong> {{ news[2] }}</p>
    <p><strong>Source URL:</strong> <a href="{{ news[3] }}" target="_blank">{{ news[3] }}</a></p>
    <p><strong>Original Link:</strong> <a href="{{ news[4] }}" target="_blank">{{ news[4] }}</a></p>
    <br>
    <a href="/">Back to Home</a>
</body>
</html>